@import "breakpoints";
@import "variables";

/*--------------------------------------------------------------
# Fonts Variables
--------------------------------------------------------------*/
@font-face {
  font-family: "Metropolis-Regular";
  src: url(../fonts/Metropolis-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Metropolis-Medium";
  src: url(../fonts/Metropolis-Medium.otf) format("opentype");
}
@font-face {
  font-family: "Metropolis-SemiBold";
  src: url(../fonts/Metropolis-SemiBold.otf) format("opentype");
}
@font-face {
  font-family: "Metropolis-Bold";
  src: url(../fonts/Metropolis-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url(../fonts/Montserrat-Medium.otf) format("opentype");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../fonts/Montserrat-SemiBold.otf) format("opentype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat-Bold.otf) format("opentype");
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  font-family: "Metropolis-Regular", sans-serif;
  color: #000000;
  line-height: 1.5;
}

a {
  color: #000000;
  text-decoration: none !important;
  transition: 0.5s all ease;
  &:hover {
    color: #000;
  }
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

section {
  padding: 60px 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  @include lg {
    &.mobile {
      .navbar-container {
        height: 380px;
        overflow: auto;
      }
    }
  }

  top: 0;
  z-index: 99;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 1px 7px;
  height: 120px;
  display: flex;
  align-items: center;
  @include lg {
    min-height: 120px;
    height: auto;
  }
  .navbar-toggle {
    font-size: 36px;
  }
  .logo {
    padding-left: 40px;
    @include lg {
      padding: 0;
    }
  }
  .btn-teklif {
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Metropolis-Bold", sans-serif;
    background-color: #000000;
    color: #fff;
    padding: 14px 22px;
    border-radius: 8px;
    margin-right: 74px;
    @include xxl {
      margin-right: 40px;
      padding: 14px 12px;
    }
  }
  .navbar-container {
    width: 1210px;
    transition: 0.3s;
    @media (max-width: 1550px) {
      width: 960px;
    }
    @include lg {
      width: auto;
      flex-basis: 100%;
      overflow: hidden;
      height: 0;
    }
  }
  nav {
    transition: 0.5s;
    @include lg {
      overflow: auto;
    }
    .dropdown {
      position: relative;
      &:hover {
        & > a {
          background-color: #ebebeb;
          font-family: "Metropolis-Medium";
          color: #4b4b4b;
        }
        .dropdown-content {
          opacity: 1;
          visibility: visible;
          top: 64px;
          display: block;
        }
      }
      .dropdown-content {
        position: absolute;
        width: 100%;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        top: 120px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        @include lg {
          position: static;
          display: none;
          opacity: 1;
          visibility: visible;
        }
        li a {
          display: block;
          font-family: "Metropolis-Medium", sans-serif;
          font-size: 16px;
          text-transform: capitalize;
          padding: 8px 0 8px 22px;
          margin: 4px 0;
          &:hover {
            background-color: #000000;
            color: #fff;
          }
        }
      }
    }
    .navbar {
      li {
        margin: 0 4px;
        @include lg {
          margin: 8px 4px;
        }
        a {
          text-transform: uppercase;
          font-family: "Metropolis-Medium", sans-serif;
          font-size: 16px;
          padding: 16px 24px;
          border-radius: 10px;
          display: block;
          color: #4b4b4b;
          @media (max-width: 1550px) {
            padding: 10px;
          }
          &.active {
            background-color: #ebebeb;
            color: #000000;
            font-family: "Metropolis-SemiBold", sans-serif;
          }
          &:hover {
            background-color: #ebebeb;
          }
        }
      }
    }
  }
  .search {
    background-color: #f8f8f8;
    border-radius: 24px;
    width: 240px;
    padding: 10px 0 10px 16px;
    @include xxl {
      width: 160px;
    }
    i {
      font-size: 22px;
      color: rgba(0, 0, 0, 0.26);
      cursor: pointer;
    }
    input {
      background: none;
      outline: none;
      border: none;
      color: rgba(0, 0, 0, 0.26);
      font-family: "Metropolis-Medium", sans-serif;
      &::placeholder {
        color: rgba(0, 0, 0, 0.26);
      }
    }
  }
}

/*--------------------------------------------------------------
############### İndex.HTML CSS KODLARI START ###############
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero {
  background-image: url(../img/hero-bg.png);
  background-size: cover;
  margin-top: 120px;
  padding-top: 140px;

  .w-60 {
    width: 60%;
    @include sm {
      margin: auto;
    }
  }
  img {
    @include sm {
      width: 60%;
    }
  }
  h1 {
    font-family: "Metropolis-Regular", sans-serif;
    font-size: 68px;
    margin-bottom: 44px;
    @include xxl {
      font-size: 48px;
    }
    @include lg {
      font-size: 32px;
    }
    @include md {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  h3 {
    font-size: 32px;
    opacity: 0.5;
    margin-bottom: 68px;
    @include xxl {
      font-size: 24px;
      margin-bottom: 40px;
    }
    @include lg {
      font-size: 18px;
    }
    @include md {
      font-size: 16px;
    }
  }
  a {
    display: block;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding: 16px 0;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: "Metropolis-Bold", sans-serif;
    &:hover {
      opacity: 0.8;
    }
    @include lg {
      font-size: 12px;
    }
  }
  .heroSwiper {
    .swiper-pagination {
      position: relative;
      margin-top: 50px;

      .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        margin: 0 8px;
        background-color: #a8a8a8;
      }
    }
  }
}

/*--------------------------------------------------------------
# client
--------------------------------------------------------------*/
#whatWeDo {
  padding-top: 250px;
  background-color: #fafafa;
  h3 {
    font-family: "Metropolis-Medium";
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  ol {
    margin-bottom: 30px;
    li {
      cursor: pointer;
      text-transform: uppercase;
      padding: 12px 42px;
      border-radius: 10px;
      border: #eaeaea 2px solid;
      transition: 0.3s;
      background: none;
      @include xxl {
        padding: 10px 30px;
      }
      @include xl {
        padding: 10px 24px;
      }
      @include lg {
        margin: 0px 6px 10px 6px;
      }
      @include sm {
        padding: 10px 10px;
        font-size: 14px;
      }
      &:hover {
        background-color: $defaultBlack;
        color: #fff;
        border-color: $defaultBlack;
      }
      &.active {
        background-color: $defaultBlack;
        color: #fff;
        border-color: $defaultBlack;
      }
    }
  }
  .swiper-container {
    position: relative;
    .what-btn-prev {
      position: absolute;
      z-index: 2;
      bottom: calc(50% - 40px);
      left: -30px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      border: solid #ffffff 2px;
      backdrop-filter: blur(10px);
      @include md {
        position: static;
        background-color: #bcbcbc;
        margin: 0 10px;
      }
      i {
        font-size: 20px;
        color: #fff;
      }
    }
    .what-btn-next {
      position: absolute;
      z-index: 2;
      bottom: calc(50% - 40px);
      right: -30px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      border: solid #ffffff 2px;
      backdrop-filter: blur(10px);
      @include md {
        position: static;
        background-color: #bcbcbc;
        margin: 0 10px;
      }
      i {
        font-size: 20px;
        color: #fff;
      }
    }
  }
  .whatWeDoSwiper {
    .swiper-slide {
      &.remove {
        display: none;
      }
      .img-body {
        position: relative;
        &:hover {
          .img-content {
            opacity: 1;
            bottom: 10px;
          }
        }
        .img-content {
          backdrop-filter: blur(5px);
          opacity: 0;
          transition: 0.5s;
          position: absolute;
          z-index: 5;
          left: 20px;
          right: 20px;
          bottom: -100px;
          height: 180px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding-left: 40px;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 12px;
          @include xxl {
            height: 120px;
          }
          @include lg {
            height: 80px;
          }
          @include md {
            padding: 20px;
          }

          h4 {
            font-size: 24px;
            font-family: "Metropolis-Bold", sans-serif;
            color: #fff;
            z-index: 2;
            margin-bottom: 14px;
            text-transform: uppercase;
            @include lg {
              font-size: 20px;
            }
            @include md {
              font-size: 16px;
            }
            @include sm {
              font-size: 12px;
            }
          }
          h5 {
            font-size: 18px;
            font-family: "Metropolis-Bold", sans-serif;
            color: #fff;
            z-index: 2;
            margin: 0;
            text-transform: uppercase;
            @include lg {
              font-size: 14px;
            }
            @include md {
              font-size: 12px;
            }
            @include sm {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
  .btn-container {
    margin-top: 70px;
    @include md {
      margin-top: 30px;
    }
    .all-product-btn {
      font-family: "Metropolis-Medium";
      border-radius: 30px;
      border: solid #eaeaea 1px;
      padding: 16px 0px 16px 40px;
      text-align: center;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      &:hover {
        background-color: #eaeaea;
      }
      i {
        transition: 0.3s;
        color: rgba(0, 0, 0, 0.24);
        font-size: 22px;
        padding: 0 20px 0 20px;
      }
    }
  }
}
/*--------------------------------------------------------------
# What Else We Do Side
--------------------------------------------------------------*/
#WhatElseWeDoSide {
  h3 {
    font-family: "Metropolis-Medium";
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .swiper-container {
    position: relative;
    .what-else-btn-prev {
      position: absolute;
      z-index: 2;
      bottom: calc(50% - 40px);
      left: -20px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      border: solid #ffffff 3px;
      background-color: #f7f7f7;
      @include md {
        position: static;
        margin: 10px 20px;
      }
      i {
        font-size: 20px;
        color: rgb(87, 87, 87);
      }
    }
    .what-else-btn-next {
      position: absolute;
      z-index: 2;
      bottom: calc(50% - 40px);
      right: -20px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      border: solid #ffffff 3px;
      background-color: #f7f7f7;
      @include md {
        position: static;
        margin: 10px 20px;
      }
      i {
        font-size: 20px;
        color: rgb(87, 87, 87);
      }
    }
    .whatElseWeDoSwiper {
      padding: 14px;

      .swiper-slide {
        .what-card {
          border-radius: 20px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          height: 256px;
          padding: 30px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: space-between;
          @include md {
            align-items: center;
            height: 240px;
          }
          h4 {
            font-size: 22px;
            font-family: "Metropolis-Medium", sans-serif;
            text-transform: uppercase;
            align-self: flex-start;
            @include md {
              align-self: center;
            }
          }
        }
      }
    }
  }
}
/*--------------------------------------------------------------
# Blog Side
--------------------------------------------------------------*/
#blog {
  background-color: #fafafa;
  h3 {
    font-family: "Montserrat-Medium";
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .swiper-container {
    position: relative;
    .blog-btn-prev {
      position: absolute;
      z-index: 2;
      bottom: calc(50% - 100px);
      left: -30px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      border: solid #ffffff 3px;
      background-color: #f7f7f7;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      @include sm {
        position: static;
        margin: 10px 20px;
      }
      i {
        font-size: 20px;
        color: rgb(87, 87, 87);
      }
    }
    .blog-btn-next {
      position: absolute;
      z-index: 2;
      bottom: calc(50% - 100px);
      right: -30px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      border: solid #ffffff 3px;
      background-color: #f7f7f7;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      @include sm {
        position: static;
        margin: 10px 20px;
      }
      i {
        font-size: 20px;
        color: rgb(87, 87, 87);
      }
    }

    .blogSwiper {
      .swiper-slide {
        .blog-card {
          .card-head {
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;
            background-color: #f5f5f5;
            padding: 30px;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .card-body {
            background-color: #fff;
            padding: 44px;
            h4 {
              font-size: 16px;
              font-family: "Montserrat-Bold", sans-serif;
              text-transform: uppercase;
            }
            .card-body-detail {
              margin-top: 52px;
              display: flex;
              justify-content: space-between;
              a {
                display: flex;
                align-items: center;
                font-family: "Montserrat-SemiBold", sans-serif;
                font-size: 16px;
                border: solid 1px #e8e8e8;
                padding: 12px 50px 12px 40px;
                border-radius: 8px;
                position: relative;
                transition: 0.3s;
                &:hover {
                  background-color: #e8e8e8;
                  color: #fff;
                  i {
                    color: #fff;
                  }
                }
                i {
                  transition: 0.3s;
                  color: #cbcbcb;
                  position: absolute;
                  right: 13px;
                }
              }
              .date {
                display: flex;
                color: #bcbcbc;
                align-items: center;
                i {
                  padding-right: 8px;
                  font-size: 20px;
                }
                h6 {
                  color: #bcbcbc;
                  font-family: "Montserrat-SemiBold";
                  font-size: 14px;
                  margin: 0;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
  }
  .all-btn {
    text-transform: uppercase;
    font-family: "Metropolis-Medium";
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    padding: 16px 74px;
    border: solid 1px #eaeaea;
    border-radius: 30px;
    position: relative;
    transition: 0.3s;
    @include sm {
      padding: 16px 60px;
    }
    &:hover {
      background-color: #eaeaea;
    }

    i {
      opacity: 0.24;
      font-size: 20px;
      position: absolute;
      right: 20px;
    }
  }
}
/*--------------------------------------------------------------
# BlogDetail
--------------------------------------------------------------*/
#blogDetail {
  h3 {
    font-family: "Montserrat-Medium";
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 130px;
  }
  .swiper-container {
    position: relative;
    .blog-Detail-btn-prev {
      position: absolute;
      z-index: 2;
      bottom: calc(50% - 30px);
      left: -90px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      border: solid #ffffff 3px;
      background-color: #f7f7f7;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      @include lg {
        position: static;
        margin: 10px 20px;
      }
      i {
        font-size: 20px;
        color: rgb(87, 87, 87);
      }
    }
    .blog-Detail-btn-next {
      position: absolute;
      z-index: 2;
      bottom: calc(50% - 30px);
      right: -90px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      border: solid #ffffff 3px;
      background-color: #f7f7f7;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      @include lg {
        position: static;
        margin: 10px 20px;
      }
      i {
        font-size: 20px;
        color: rgb(87, 87, 87);
      }
    }

    .blogDetailSwiper {
      .swiper-pagination {
        position: relative;
        margin-top: 50px;
        .swiper-pagination-bullet {
          width: 16px;
          height: 16px;
          margin: 0 8px;
          background-color: #a8a8a8;
        }
      }
      .swiper-slide {
        .card-container {
          width: 80%;
          @include lg {
            margin: auto;
          }
          @include sm {
            width: 90%;
          }
        }
        h4 {
          font-size: 36px;
          font-family: "Metropolis-Bold";
          line-height: 1.5;
          margin-bottom: 38px;
          @include md {
            margin-bottom: 24px;
            font-size: 28px;
          }
        }
        p {
          font-size: 16px;
          font-family: "Metropolis-Regular";
          margin-bottom: 52px;
        }
        .buttons {
          display: flex;
          justify-content: space-between;
          width: 86%;
          @include md {
            width: 100%;
          }
          a {
            font-family: "Metropolis-Medium", sans-serif;
            font-size: 18px;
            border-radius: 30px;
            border: solid 2px #efefef;
            width: 200px;
            padding: 14px 0;
            transform: 0.3s;
            text-align: center;
            @include sm {
              width: 140px;
              font-size: 14px;
            }
            &:hover {
              background-color: #000000;
              color: #fff;
              border-color: #000000;
            }
            &.active {
              background-color: #000000;
              color: #fff;
              border-color: #000000;
            }
          }
        }
      }
    }
  }
  .all-btn {
    text-transform: uppercase;
    font-family: "Metropolis-Medium";
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    padding: 16px 74px;
    border: solid 1px #eaeaea;
    border-radius: 30px;
    position: relative;
    transition: 0.3s;
    @include sm {
      padding: 16px 60px;
    }
    &:hover {
      background-color: #eaeaea;
    }

    i {
      opacity: 0.24;
      font-size: 20px;
      position: absolute;
      right: 20px;
    }
  }
}
/*--------------------------------------------------------------
# faq
--------------------------------------------------------------*/
#faq {
  background-image: url(../img/faq-bg.png);
  background-position: bottom right;
  background-size: auto;
  background-repeat: no-repeat;
  h3 {
    font-size: 42px;
    text-align: center;
    font-family: "Metropolis-Regular";
    @include md {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }
  .accordion {
    .accordion-item {
      border: none;
      background-color: #f7f7f7;
      border-radius: 12px;
      margin-bottom: 20px;
      .accordion-header {
        .accordion-button {
          border-radius: 12px;
          background-color: #f7f7f7;
          border: none;
          outline: none;
          font-size: 18px;
          font-family: "Metropolis-Regular";
          box-shadow: none;
          color: #000000 !important;
          &.collapsed {
            &::after {
              content: "";
              width: 12px;
              height: 2px;
              background: #000000;
              position: absolute;
              right: 40px;
            }
            &::before {
              content: "";
              width: 12px;
              height: 2px;
              right: 40px;
              transform: rotate(90deg);
              background: #000000;
              position: absolute;
            }
          }
          &::after {
            content: "";
            width: 12px;
            height: 2px;
            background: #000000;
            position: absolute;
            right: 40px;
          }
          &::before {
            content: "";
            width: 12px;
            height: 2px;
            right: 40px;
            background: #000000;
            position: absolute;
          }
        }
      }
      .accordion-collapse {
        &.show {
          color: #000000;
        }
        .accordion-body {
          padding-left: 40px;
          padding-bottom: 40px;
          color: rgba(33, 37, 41, 0.5);
        }
      }
    }
  }
}
/*--------------------------------------------------------------
# BiziSecenler
--------------------------------------------------------------*/
#biziSecenler {
  background-color: #fafafa;
  h1 {
    font-size: 154px;
    font-family: "Metropolis-Medium";
    text-align: center;
    @include lg {
      font-size: 100px;
    }
  }
  h3 {
    text-align: center;
    font-size: 48px;
    font-family: "Metropolis-Medium";
    margin-bottom: 42px;
    @include lg {
      font-size: 30px;
    }
  }
  .biziSecenlerSwiper {
    .swiper-slide {
      text-align: center;
    }
  }
  .imgs-container {
    width: 90%;
    margin: auto;
    img {
      margin: 44px;
      @include xxl {
        margin: 30px;
      }
      @include xl {
        margin: 20px;
      }
      @include lg {
        margin: 20px 0px;
      }
    }
  }
}

/*--------------------------------------------------------------
# teklif Side 
--------------------------------------------------------------*/
#teklif {
  padding-top: 100px;
  background-image: url(../img/hero-bg.png);
  background-position: 0px 150px;
  background-repeat: no-repeat;
  background-size: cover;
  .form-img {
    @include xl {
      width: 90%;
    }
  }
  h3 {
    font-family: "Metropolis-Medium";
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 30px;
    @include md {
      font-size: 30px;
    }
  }
  p {
    font-size: 18px;
    font-family: "Metropolis-Regular";
    margin-bottom: 30px;
  }
  form {
    input,
    textarea {
      width: 100%;
      margin-bottom: 14px;
      border-radius: 14px;
      border: none;
      background-color: #f8f8f8;
      padding: 16px 20px;
      font-size: 16px;
      font-family: "Metropolis-Regular";
      color: #171717;
      &::placeholder {
        color: rgba(23, 23, 23, 0.377);
      }
      &:focus {
        outline: none;
      }
    }
    select {
      width: 100%;
      margin-bottom: 14px;
      border-radius: 14px;
      border: none;
      background-color: #f8f8f8;
      padding: 16px 20px;
      font-size: 16px;
      font-family: "Metropolis-Regular";
      background-image: linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
      background-position: calc(100% - 20px) calc(1em + 10px), calc(100% - 15px) calc(1em + 10px);
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      appearance: none;

      color: #171717;
      &::placeholder {
        color: rgba(23, 23, 23, 0.377);
      }
      &:focus {
        outline: none;
      }
    }
    .teklif-btn {
      border-radius: 12px;
      display: block;
      background-color: #000000;
      color: #fff;
      font-family: "Metropolis-Medium", sans-serif;
      padding: 12px 0;
      text-align: center;
      position: relative;
      img {
        position: absolute;
        top: calc(50% - 16px);
        right: 15px;
      }
    }
  }
}

/*--------------------------------------------------------------
############### blog.HTML CSS KODLARI START ###############
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# BlogDetail
--------------------------------------------------------------*/
#blogBlogDetail {
  margin-top: 120px;
  h3 {
    font-family: "Montserrat-Medium";
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  .swiper-container {
    position: relative;
    .blog-Detail-btn-prev {
      position: absolute;
      z-index: 2;
      bottom: calc(50% - 30px);
      left: -90px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      border: solid #ffffff 3px;
      background-color: #f7f7f7;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      @include lg {
        position: static;
        margin: 10px 20px;
      }
      i {
        font-size: 20px;
        color: rgb(87, 87, 87);
      }
    }
    .blog-Detail-btn-next {
      position: absolute;
      z-index: 2;
      bottom: calc(50% - 30px);
      right: -90px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      border: solid #ffffff 3px;
      background-color: #f7f7f7;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      @include lg {
        position: static;
        margin: 10px 20px;
      }
      i {
        font-size: 20px;
        color: rgb(87, 87, 87);
      }
    }

    .blogDetailSwiper {
      .swiper-pagination {
        position: relative;
        margin-top: 30px;
        .swiper-pagination-bullet {
          width: 16px;
          height: 16px;
          margin: 0 8px;
          background-color: #a8a8a8;
        }
      }
      .swiper-slide {
        .card-container {
          width: 80%;
          @include lg {
            margin: auto;
          }
          @include sm {
            width: 90%;
          }
        }
        h4 {
          font-size: 36px;
          font-family: "Metropolis-Bold";
          line-height: 1.5;
          margin-bottom: 38px;
          @include md {
            margin-bottom: 24px;
            font-size: 28px;
          }
        }
        p {
          font-size: 16px;
          font-family: "Metropolis-Regular";
          margin-bottom: 52px;
        }
        .buttons {
          display: flex;
          justify-content: space-between;
          width: 86%;
          @include md {
            width: 100%;
          }
          a {
            font-family: "Metropolis-Medium", sans-serif;
            font-size: 18px;
            border-radius: 30px;
            border: solid 2px #efefef;
            width: 200px;
            padding: 14px 0;
            transform: 0.3s;
            text-align: center;
            &:hover {
              background-color: #000000;
              color: #fff;
              border-color: #000000;
            }
            &.active {
              background-color: #000000;
              color: #fff;
              border-color: #000000;
            }
          }
        }
      }
    }
  }
  .all-btn {
    text-transform: uppercase;
    font-family: "Metropolis-Medium";
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    padding: 16px 74px;
    border: solid 1px #eaeaea;
    border-radius: 30px;
    position: relative;
    transition: 0.3s;
    @include sm {
      padding: 16px 60px;
    }
    &:hover {
      background-color: #eaeaea;
    }

    i {
      opacity: 0.24;
      font-size: 20px;
      position: absolute;
      right: 20px;
    }
  }
}

/*--------------------------------------------------------------
# Blog Listesi
--------------------------------------------------------------*/
#blogLists {
  .blog-card {
    .card-head {
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
      background-color: #f5f5f5;
      padding: 30px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .card-body {
      background-color: #fff;
      padding: 44px;
      h4 {
        font-size: 16px;
        font-family: "Montserrat-Bold", sans-serif;
        text-transform: uppercase;
      }
      .card-body-detail {
        margin-top: 52px;
        display: flex;
        justify-content: space-between;
        a {
          @include xxl {
            padding: 12px 40px 12px 30px;
          }
          @include lg {
            font-size: 14px;
            padding: 8px 40px 8px 30px;
          }

          display: flex;
          align-items: center;
          font-family: "Montserrat-SemiBold", sans-serif;
          font-size: 16px;
          border: solid 1px #e8e8e8;
          padding: 12px 50px 12px 40px;
          border-radius: 8px;
          position: relative;
          transition: 0.3s;
          &:hover {
            background-color: #e8e8e8;
            color: #fff;
            i {
              color: #fff;
            }
          }
          i {
            transition: 0.3s;
            color: #cbcbcb;
            position: absolute;
            right: 13px;
          }
        }
        .date {
          display: flex;
          color: #bcbcbc;
          align-items: center;
          i {
            padding-right: 8px;
            font-size: 20px;
          }
          h6 {
            color: #bcbcbc;
            font-family: "Montserrat-SemiBold";
            font-size: 14px;
            margin: 0;
            text-transform: uppercase;
            @include lg {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .all-btn {
    text-transform: uppercase;
    font-family: "Metropolis-Medium";
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    padding: 16px 74px;
    border: solid 1px #eaeaea;
    border-radius: 30px;
    position: relative;
    transition: 0.3s;
    @include sm {
      padding: 16px 60px;
    }
    &:hover {
      background-color: #eaeaea;
    }

    i {
      opacity: 0.24;
      font-size: 20px;
      position: absolute;
      right: 20px;
    }
  }
}

/*--------------------------------------------------------------
############### blog-detay.html CSS KODLARI  START ###############
--------------------------------------------------------------*/
#blogContent {
  margin-top: 120px;
  h3 {
    font-family: "Montserrat-Medium";
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 90px;
  }
  h2 {
    font-family: "Montserrat-SemiBold";
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    @include lg{
      font-size: 26px;
    }
  }
  .content {
    text-align: center;
    margin-top: 50px;
    p {
      padding-bottom: 20px;
    }
  }
  .swiper-container {
    position: relative;
    .blog-btn-prev {
      position: absolute;
      z-index: 2;
      bottom: calc(50% - 100px);
      left: -30px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      border: solid #ffffff 3px;
      background-color: #f7f7f7;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      @include sm {
        position: static;
        margin: 10px 20px;
      }
      i {
        font-size: 20px;
        color: rgb(87, 87, 87);
      }
    }
    .blog-btn-next {
      position: absolute;
      z-index: 2;
      bottom: calc(50% - 100px);
      right: -30px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      border: solid #ffffff 3px;
      background-color: #f7f7f7;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      @include sm {
        position: static;
        margin: 10px 20px;
      }
      i {
        font-size: 20px;
        color: rgb(87, 87, 87);
      }
    }

    .blogSwiper {
      .swiper-slide {
        .blog-card {
          .card-head {
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;
            background-color: #f5f5f5;
            padding: 30px;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .card-body {
            background-color: #fff;
            padding: 44px;
            h4 {
              font-size: 16px;
              font-family: "Montserrat-Bold", sans-serif;
              text-transform: uppercase;
            }
            .card-body-detail {
              margin-top: 52px;
              display: flex;
              justify-content: space-between;
              a {
                display: flex;
                align-items: center;
                font-family: "Montserrat-SemiBold", sans-serif;
                font-size: 16px;
                border: solid 1px #e8e8e8;
                padding: 12px 50px 12px 40px;
                border-radius: 8px;
                position: relative;
                transition: 0.3s;
                @include sm{
                  padding: 8px 40px 8px 20px;
                  margin-right: 4px;
                }
                &:hover {
                  background-color: #e8e8e8;
                  color: #fff;
                  i {
                    color: #fff;
                  }
                }
                i {
                  transition: 0.3s;
                  color: #cbcbcb;
                  position: absolute;
                  right: 13px;
                }
              }
              .date {
                display: flex;
                color: #bcbcbc;
                align-items: center;
                i {
                  padding-right: 8px;
                  font-size: 20px;
                  @include sm {
                    font-size: 18px;
                  }
                }
                h6 {
                  color: #bcbcbc;
                  font-family: "Montserrat-SemiBold";
                  font-size: 14px;
                  margin: 0;
                  text-transform: uppercase;
                  @include sm {
                    font-size: 12px;
                  }
                   
                }
              }
            }
          }
        }
      }
    }
  }
}

/*--------------------------------------------------------------
############### referanslar.html CSS KODLARI  START ###############
--------------------------------------------------------------*/
#references {
  margin-top: 120px;
  h3 {
    font-family: "Montserrat-Medium";
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 90px;
  }

  ol {
    margin-bottom: 30px;
    li {
      cursor: pointer;
      text-transform: uppercase;
      padding: 12px 42px;
      border-radius: 10px;
      border: #eaeaea 2px solid;
      transition: 0.3s;
      background: none;
      @include xxl {
        padding: 10px 30px;
      }
      @include xl {
        padding: 10px 24px;
      }
      @include lg {
        margin: 0px 6px 10px 6px;
      }
      @include sm {
        padding: 10px 10px;
        font-size: 14px;
      }
      &:hover {
        background-color: $defaultBlack;
        color: #fff;
        border-color: $defaultBlack;
      }
      &.active {
        background-color: $defaultBlack;
        color: #fff;
        border-color: $defaultBlack;
      }
    }
  }
  .swiper-container {
    position: relative;
    .what-btn-prev {
      position: absolute;
      z-index: 2;
      bottom: calc(50% - 40px);
      left: -30px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      border: solid #ffffff 2px;
      backdrop-filter: blur(10px);
      @include md {
        position: static;
        background-color: #bcbcbc;
        margin: 0 10px;
      }
      i {
        font-size: 20px;
        color: #fff;
      }
    }
    .what-btn-next {
      position: absolute;
      z-index: 2;
      bottom: calc(50% - 40px);
      right: -30px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      border: solid #ffffff 2px;
      backdrop-filter: blur(10px);
      @include md {
        position: static;
        background-color: #bcbcbc;
        margin: 0 10px;
      }
      i {
        font-size: 20px;
        color: #fff;
      }
    }
  }
  .img-body {
    position: relative;
    overflow: hidden;
    &:hover {
      .img-content {
        opacity: 1;
        bottom: 10px;
      }
    }
    .img-content {
      backdrop-filter: blur(5px);
      opacity: 0;
      transition: 0.5s;
      position: absolute;
      z-index: 5;
      left: 20px;
      right: 20px;
      bottom: -100px;
      height: 180px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 40px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 12px;
      @include xxl {
        height: 120px;
      }

      @include sm {
        padding: 20px;
        height: 80px;
      }

      h4 {
        font-size: 24px;
        font-family: "Metropolis-Bold", sans-serif;
        color: #fff;
        z-index: 2;
        margin-bottom: 14px;
        text-transform: uppercase;

        @include sm {
          font-size: 16px;
        }
      }
      h5 {
        font-size: 18px;
        font-family: "Metropolis-Bold", sans-serif;
        color: #fff;
        z-index: 2;
        margin: 0;
        text-transform: uppercase;

        @include sm {
          font-size: 14px;
        }
      }
    }
  }
  .btn-container {
    margin-top: 70px;
    @include md {
      margin-top: 30px;
    }
    .all-product-btn {
      font-family: "Metropolis-Medium";
      border-radius: 30px;
      border: solid #eaeaea 1px;
      padding: 16px 0px 16px 40px;
      text-align: center;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      &:hover {
        background-color: #eaeaea;
      }
      i {
        transition: 0.3s;
        color: rgba(0, 0, 0, 0.24);
        font-size: 22px;
        padding: 0 20px 0 20px;
      }
    }
  }
}

/*--------------------------------------------------------------
############### referans-detay.html CSS KODLARI  START ###############
--------------------------------------------------------------*/
#references-detail {
  margin-top: 120px;
  h3 {
    font-family: "Montserrat-Medium";
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 90px;
  }
  .content-title {
    margin-top: 160px;
    margin-bottom: 40px;
  }

  .references-container {
    @media (max-width: 1500px) {
      margin: auto;
      width: 86%;
    }
    @include md {
      width: 94%;
    }
    .card-container {
      width: 80%;
      padding-top: 60px;
      @include xxl {
        padding-top: 0;
      }
      @include lg {
        margin: auto;
      }
      @include sm {
        width: 90%;
      }
    }
    h4 {
      font-size: 36px;
      font-family: "Metropolis-Bold";
      line-height: 1.5;
      margin-bottom: 38px;
      @include xl {
        font-size: 30px;
      }
      @include md {
        margin-bottom: 24px;
        font-size: 28px;
      }
    }
    h5 {
      font-size: 16px;
      font-family: "Metropolis-Bold";
      margin-bottom: 4px;
    }
    p {
      font-size: 16px;
      font-family: "Metropolis-Regular";
      margin-bottom: 20px;
    }

    .prev-btn {
      position: absolute;
      left: -90px;
      z-index: 2;
      bottom: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include md {
        position: static;
      }
    }
    .next-btn {
      position: absolute;
      right: -90px;
      z-index: 2;
      bottom: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include md {
        position: static;
      }
    }
    .text-item {
      font-size: 16px;
      font-family: "Metropolis-Medium";
      opacity: 0.24;
    }
    .btn-item {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      border: solid #ffffff 3px;
      background-color: #f7f7f7;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      margin-bottom: 10px;
      @include lg {
        position: static;
        margin: 10px 20px;
      }
      i {
        font-size: 20px;
        color: rgb(87, 87, 87);
      }
    }
  }

  .swiper-container {
    position: relative;
    width: 90%;
    margin: auto;
    .refD-btn-prev {
      @include sm {
        position: static;
        margin: 0 20px;
      }
      position: absolute;
      z-index: 2;
      bottom: calc(50% - 40px);
      left: -30px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      border: solid #ffffff 2px;
      background-color: #f7f7f7;
      i {
        font-size: 20px;
        color: rgb(167, 167, 167);
      }
    }
    .refD-btn-next {
      @include sm {
        position: static;
        margin: 0 20px;
      }
      position: absolute;
      z-index: 2;
      bottom: calc(50% - 40px);
      right: -30px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      border: solid #ffffff 2px;
      background-color: #f7f7f7;

      i {
        font-size: 20px;
        color: rgb(167, 167, 167);
      }
    }
  }

  .refDigerSwiper {
    .swiper-slide {
      &.remove {
        display: none;
      }
      .img-body {
        position: relative;
        &:hover {
          .img-content {
            opacity: 1;
            bottom: 10px;
          }
        }
        .img-content {
          backdrop-filter: blur(5px);
          opacity: 0;
          transition: 0.5s;
          position: absolute;
          z-index: 5;
          left: 20px;
          right: 20px;
          bottom: -100px;
          height: 120px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding-left: 40px;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 12px;
          @include xxl {
            height: 120px;
          }
          @include lg {
            height: 80px;
          }
          @include md {
            height: 120px;
            padding: 20px;
          }

          h4 {
            font-size: 24px;
            font-family: "Metropolis-Bold", sans-serif;
            color: #fff;
            z-index: 2;
            margin-bottom: 14px;
            text-transform: uppercase;
            @include lg {
              font-size: 20px;
            }
            @include md {
              font-size: 18px;
            }
          }
          h5 {
            font-size: 18px;
            font-family: "Metropolis-Bold", sans-serif;
            color: #fff;
            z-index: 2;
            margin: 0;
            text-transform: uppercase;
            @include lg {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .all-btn {
    text-transform: uppercase;
    font-family: "Metropolis-Medium";
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    padding: 16px 74px;
    border: solid 1px #eaeaea;
    border-radius: 30px;
    position: relative;
    transition: 0.3s;
    @include sm {
      padding: 16px 60px;
    }
    &:hover {
      background-color: #eaeaea;
    }

    i {
      opacity: 0.24;
      font-size: 20px;
      position: absolute;
      right: 20px;
    }
  }
}

/*--------------------------------------------------------------
############### iletisim.html CSS KODLARI  START ###############
--------------------------------------------------------------*/
#contact {
  margin-top: 120px;
  h3 {
    font-family: "Montserrat-Medium";
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 90px;
  }
  h2 {
    font-family: "Montserrat-Medium";
    font-size: 42px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  form {
    input,
    textarea {
      width: 100%;
      margin-bottom: 14px;
      border-radius: 14px;
      border: none;
      background-color: #f8f8f8;
      padding: 16px 20px;
      font-size: 16px;
      font-family: "Metropolis-Regular";
      color: #171717;
      &::placeholder {
        color: rgba(23, 23, 23, 0.377);
      }
      &:focus {
        outline: none;
      }
    }
    .teklif-btn {
      border-radius: 12px;
      display: block;
      background-color: #000000;
      color: #fff;
      font-family: "Metropolis-Medium", sans-serif;
      padding: 12px 0;
      text-align: center;
      position: relative;
      img {
        position: absolute;
        top: calc(50% - 16px);
        right: 15px;
      }
    }
  }
  .map {
    border-radius: 20px;
    width: 90%;
    height: 450px;
    @include lg {
      width: 100%;
    }
  }
  .contact-details {
    margin-top: 46px;
    .contact-card {
      @include xxl {
        align-items: center;
      }
      @include sm {
        text-align: center;
      }
      background-color: #f8f8f8;
      border-radius: 20px;
      height: 170px;
      padding: 26px 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        margin: 0;
        font-family: "Metropolis-Regular";
        font-size: 15px;
        @include sm {
          font-size: 16px;
        }
      }
      .icon-title {
        display: flex;
        align-items: center;
        span {
          font-family: "Metropolis-SemiBold";
          font-size: 16px;
          @include sm {
            font-size: 18px;
          }
        }
        img {
          opacity: 0.5;
          margin-right: 10px;
        }
      }
      .social-medias {
        display: flex;
        align-items: center;
        margin-top: 16px;
        a {
          color: #000000;
          font-size: 24px;
          & + a {
            margin-left: 30px;
          }
        }
      }
    }
  }
}

/*--------------------------------------------------------------
############### hakkimizda.html CSS KODLARI  START ###############
--------------------------------------------------------------*/
#aboutUs {
  margin-top: 120px;
  h3 {
    font-family: "Montserrat-Medium";
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 90px;
  }
  .content {
    width: 90%;
    @include xl {
      width: 100%;
    }
    h2 {
      font-family: "Metropolis-Medium";
      font-size: 42px;
      text-transform: capitalize;
      margin-bottom: 36px;
      @include xxl {
        font-size: 34px;
      }
    }
    p {
      font-family: "Metropolis-Regular";
      font-size: 16px;
      margin-bottom: 26px;
    }
  }
  .aboutUsSwiper {
    .swiper-slide {
      @include xl {
        text-align: center;
      }
      img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }
    .swiper-pagination {
      position: relative;
      margin-top: 50px;

      .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        margin: 0 8px;
        background-color: #a8a8a8;
      }
    }
  }
}

/*--------------------------------------------------------------
############### hizmetler.html CSS KODLARI  START ###############
--------------------------------------------------------------*/
#services {
  margin-top: 120px;
  h3 {
    font-family: "Montserrat-Medium";
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 90px;
  }
  .blog-card {
    .card-head {
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
      background-color: #f5f5f5;
      padding: 22px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .card-body {
      background-color: #fff;
      padding: 38px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h4 {
        font-family: "Montserrat-Bold";
        font-size: 16px;
        text-transform: uppercase;
        margin: 0;
      }
      a {
        display: flex;
        align-items: center;
        font-family: "Montserrat-SemiBold", sans-serif;
        font-size: 16px;
        border: solid 1px #e8e8e8;
        padding: 12px 40px 12px 30px;
        border-radius: 8px;
        position: relative;
        transition: 0.3s;
        @include xxl {
          padding: 12px 40px 12px 20px;
        }
        &:hover {
          background-color: #e8e8e8;
          color: #fff;
          i {
            color: #fff;
          }
        }
        i {
          transition: 0.3s;
          color: #cbcbcb;
          position: absolute;
          right: 13px;
        }
      }
    }
  }

  ol {
    margin-bottom: 30px;
    li {
      cursor: pointer;
      text-transform: uppercase;
      padding: 12px 42px;
      border-radius: 10px;
      border: #eaeaea 2px solid;
      transition: 0.3s;
      background: none;
      @include xxl {
        padding: 10px 30px;
      }
      @include xl {
        padding: 10px 24px;
      }
      @include lg {
        margin: 0px 6px 10px 6px;
      }
      @include sm {
        padding: 10px 10px;
        font-size: 14px;
      }
      &:hover {
        background-color: $defaultBlack;
        color: #fff;
        border-color: $defaultBlack;
      }
      &.active {
        background-color: $defaultBlack;
        color: #fff;
        border-color: $defaultBlack;
      }
    }
  }
  .all-product-btn {
    font-family: "Metropolis-Medium";
    border-radius: 30px;
    border: solid #eaeaea 1px;
    padding: 16px 0px 16px 40px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 20px;
    &:hover {
      background-color: #eaeaea;
    }
    i {
      transition: 0.3s;
      color: rgba(0, 0, 0, 0.24);
      font-size: 22px;
      padding: 0 20px 0 20px;
    }
  }
}

/*--------------------------------------------------------------
############### hizmetler.html CSS KODLARI  START ###############
--------------------------------------------------------------*/
#services-detail {
  margin-top: 120px;
  h3 {
    font-family: "Montserrat-Medium";
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 90px;
  }
  .content-title {
    margin-top: 160px;
    margin-bottom: 40px;
  }

  .services-container {
    width: 84%;
    @include md {
      width: 94%;
    }
    h4 {
      font-size: 36px;
      font-family: "Metropolis-Bold";
      line-height: 1.5;
      margin-bottom: 38px;
      @include xl {
        font-size: 30px;
      }
      @include md {
        margin-bottom: 24px;
        font-size: 28px;
      }
    }
    h5 {
      font-size: 16px;
      font-family: "Metropolis-Bold";
      margin-bottom: 4px;
    }
    p {
      font-size: 16px;
      font-family: "Metropolis-Regular";
      margin-bottom: 20px;
    }
    .btn-teklif {
      border-radius: 30px;
      display: inline-block;
      background-color: #000000;
      color: #fff;
      font-family: "Metropolis-Medium", sans-serif;
      padding: 12px 60px;
      margin-top: 30px;
    }
  }

  .servicesDetailSwiper {
    .swiper-slide {
      @include xl {
        text-align: center;
      }
    }
    .swiper-pagination {
      position: relative;
      margin-top: 50px;

      .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        margin: 0 8px;
        background-color: #a8a8a8;
      }
    }
  }
  .img-body {
    position: relative;
    overflow: hidden;

    &:hover {
      .img-content {
        opacity: 1;
        bottom: 10px;
      }
    }
    .img-content {
      backdrop-filter: blur(5px);
      opacity: 0;
      transition: 0.5s;
      position: absolute;
      z-index: 5;
      left: 20px;
      right: 20px;
      bottom: -100px;
      height: 180px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 40px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 12px;
      @include xxl {
        height: 120px;
      }

      @include sm {
        padding: 20px;
        height: 80px;
      }

      h4 {
        font-size: 24px;
        font-family: "Metropolis-Bold", sans-serif;
        color: #fff;
        z-index: 2;
        margin-bottom: 14px;
        text-transform: uppercase;

        @include sm {
          font-size: 16px;
        }
      }
      h5 {
        font-size: 18px;
        font-family: "Metropolis-Bold", sans-serif;
        color: #fff;
        z-index: 2;
        margin: 0;
        text-transform: uppercase;

        @include sm {
          font-size: 14px;
        }
      }
    }
  }
  .all-btn {
    text-transform: uppercase;
    font-family: "Metropolis-Medium";
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    padding: 16px 74px;
    border: solid 1px #eaeaea;
    border-radius: 30px;
    position: relative;
    transition: 0.3s;
    margin-top: 20px;
    @include sm {
      padding: 16px 60px;
    }
    &:hover {
      background-color: #eaeaea;
    }

    i {
      opacity: 0.24;
      font-size: 20px;
      position: absolute;
      right: 20px;
    }
  }
}

/*--------------------------------------------------------------
# Footer Side
--------------------------------------------------------------*/
#footer {
  background-color: #fafafa;
  padding-top: 86px;
  img {
    padding-bottom: 20px;
  }
  h5 {
    font-size: 18px;
    font-family: "Metropolis-Medium";
  }
  .mail {
    margin-top: 84px;
    margin-bottom: 0;
    @include md {
      margin-top: 30px;
    }
  }
  .social-medias {
    display: flex;
    align-items: center;
    margin-top: 16px;
    a {
      color: #000000;
      font-size: 20px;
      & + a {
        margin-left: 30px;
      }
    }
  }
  .link-title {
    margin-bottom: 48px;
    @include md {
      margin-bottom: 20px;
    }
  }
  ol li {
    margin-bottom: 28px;
    @include md {
      margin-bottom: 10px;
    }
    a {
      font-size: 18px;
      font-family: "Metropolis-Regular";
      &:hover {
        color: #000000a9;
      }
    }
  }
  .author {
    background-color: #f7f7f7;
    margin-top: 80px;
    p {
      padding: 34px 0;
      text-align: center;
      margin: 0;
    }
  }
}
