/*--------------------------------------------------------------
# Fonts Variables
--------------------------------------------------------------*/
@font-face {
  font-family: "Metropolis-Regular";
  src: url(../fonts/Metropolis-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Metropolis-Medium";
  src: url(../fonts/Metropolis-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Metropolis-SemiBold";
  src: url(../fonts/Metropolis-SemiBold.otf) format("opentype");
}

@font-face {
  font-family: "Metropolis-Bold";
  src: url(../fonts/Metropolis-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url(../fonts/Montserrat-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../fonts/Montserrat-SemiBold.otf) format("opentype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat-Bold.otf) format("opentype");
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
  overflow-x: hidden;
}

body {
  font-family: "Metropolis-Regular", sans-serif;
  color: #000000;
  line-height: 1.5;
}

a {
  color: #000000;
  text-decoration: none !important;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

a:hover {
  color: #000;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

section {
  padding: 60px 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  top: 0;
  z-index: 99;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 1px 7px;
          box-shadow: rgba(0, 0, 0, 0) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 1px 7px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .logo {
  position: absolute;
  left: 40px;
}

#header nav .navbar li {
  margin: 0 4px;
}

#header nav .navbar li a {
  text-transform: uppercase;
  font-family: "Metropolis-Medium", sans-serif;
  font-size: 16px;
  padding: 16px 24px;
  border-radius: 10px;
  display: block;
  color: #4b4b4b;
}

#header nav .navbar li a.active {
  background-color: #ebebeb;
  color: #000000;
  font-family: "Metropolis-SemiBold", sans-serif;
}

#header nav .navbar li a:hover {
  background-color: #ebebeb;
}

#header .search {
  background-color: #f8f8f8;
  border-radius: 24px;
  width: 240px;
  padding: 10px 0 10px 16px;
}

#header .search i {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

#header .search input {
  background: none;
  outline: none;
  border: none;
  color: rgba(0, 0, 0, 0.26);
  font-family: "Metropolis-Medium", sans-serif;
}

#header .search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.26);
}

#header .search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.26);
}

#header .search input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.26);
}

#header .search input::placeholder {
  color: rgba(0, 0, 0, 0.26);
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero {
  background-image: url(../img/hero-bg.png);
  height: 100vh;
  background-size: cover;
  margin-top: 120px;
  padding-top: 140px;
}

#hero h1 {
  font-family: "Metropolis-Regular", sans-serif;
  font-size: 68px;
  margin-bottom: 44px;
}

#hero h3 {
  font-size: 32px;
  opacity: 0.5;
  margin-bottom: 68px;
}

#hero a {
  display: block;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  padding: 16px 0;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: "Metropolis-Bold", sans-serif;
}

#hero a:hover {
  opacity: 0.8;
}

#hero .heroSwiper .swiper-pagination {
  position: relative;
  margin-top: 50px;
}

#hero .heroSwiper .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  margin: 0 8px;
  background-color: #a8a8a8;
}

/*--------------------------------------------------------------
# client
--------------------------------------------------------------*/
#whatWeDo {
  padding-top: 250px;
  background-color: #fafafa;
}

#whatWeDo h3 {
  font-family: "Metropolis-Medium";
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#whatWeDo ol {
  margin-bottom: 30px;
}

#whatWeDo ol li {
  cursor: pointer;
  text-transform: uppercase;
  padding: 12px 42px;
  border-radius: 10px;
  border: #eaeaea 2px solid;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: none;
}

#whatWeDo ol li:hover {
  background-color: #000000;
  color: #fff;
  border-color: #000000;
}

#whatWeDo ol li.active {
  background-color: #000000;
  color: #fff;
  border-color: #000000;
}

#whatWeDo .swiper-container {
  position: relative;
}

#whatWeDo .swiper-container .what-btn-prev {
  position: absolute;
  z-index: 2;
  bottom: calc(50% - 40px);
  left: -30px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  border: solid #ffffff 2px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

#whatWeDo .swiper-container .what-btn-prev i {
  font-size: 20px;
  color: #fff;
}

#whatWeDo .swiper-container .what-btn-next {
  position: absolute;
  z-index: 2;
  bottom: calc(50% - 40px);
  right: -30px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  border: solid #ffffff 2px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

#whatWeDo .swiper-container .what-btn-next i {
  font-size: 20px;
  color: #fff;
}

#whatWeDo .whatWeDoSwiper .swiper-slide.remove {
  display: none;
}

#whatWeDo .whatWeDoSwiper .swiper-slide .img-body {
  position: relative;
}

#whatWeDo .whatWeDoSwiper .swiper-slide .img-body:hover .img-content {
  opacity: 1;
  bottom: 10px;
}

#whatWeDo .whatWeDoSwiper .swiper-slide .img-body .img-content {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  z-index: 5;
  left: 20px;
  right: 20px;
  bottom: -100px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

#whatWeDo .whatWeDoSwiper .swiper-slide .img-body .img-content h4 {
  font-size: 24px;
  font-family: "Metropolis-Bold", sans-serif;
  color: #fff;
  z-index: 2;
  margin-bottom: 14px;
  text-transform: uppercase;
}

#whatWeDo .whatWeDoSwiper .swiper-slide .img-body .img-content h5 {
  font-size: 18px;
  font-family: "Metropolis-Bold", sans-serif;
  color: #fff;
  z-index: 2;
  margin: 0;
  text-transform: uppercase;
}

#whatWeDo .btn-container {
  margin-top: 70px;
}

#whatWeDo .btn-container .all-product-btn {
  font-family: "Metropolis-Medium";
  border-radius: 30px;
  border: solid #eaeaea 1px;
  padding: 16px 0px 16px 40px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

#whatWeDo .btn-container .all-product-btn:hover {
  background-color: #eaeaea;
}

#whatWeDo .btn-container .all-product-btn i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: rgba(0, 0, 0, 0.24);
  font-size: 22px;
  padding: 0 20px 0 20px;
}

/*--------------------------------------------------------------
# What Else We Do Side
--------------------------------------------------------------*/
#WhatElseWeDoSide h3 {
  font-family: "Metropolis-Medium";
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#WhatElseWeDoSide .swiper-container {
  position: relative;
}

#WhatElseWeDoSide .swiper-container .what-else-btn-prev {
  position: absolute;
  z-index: 2;
  bottom: calc(50% - 40px);
  left: -20px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  border: solid #ffffff 3px;
  background-color: #f7f7f7;
}

#WhatElseWeDoSide .swiper-container .what-else-btn-prev i {
  font-size: 20px;
  color: #575757;
}

#WhatElseWeDoSide .swiper-container .what-else-btn-next {
  position: absolute;
  z-index: 2;
  bottom: calc(50% - 40px);
  right: -20px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  border: solid #ffffff 3px;
  background-color: #f7f7f7;
}

#WhatElseWeDoSide .swiper-container .what-else-btn-next i {
  font-size: 20px;
  color: #575757;
}

#WhatElseWeDoSide .swiper-container .whatElseWeDoSwiper {
  padding: 14px;
}

#WhatElseWeDoSide .swiper-container .whatElseWeDoSwiper .swiper-slide .what-card {
  border-radius: 20px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 256px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#WhatElseWeDoSide .swiper-container .whatElseWeDoSwiper .swiper-slide .what-card h4 {
  font-size: 22px;
  font-family: "Metropolis-Medium", sans-serif;
  text-transform: uppercase;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

/*--------------------------------------------------------------
# Blog Side
--------------------------------------------------------------*/
#blog {
  background-color: #fafafa;
}

#blog h3 {
  font-family: "Montserrat-Medium";
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#blog .swiper-container {
  position: relative;
}

#blog .swiper-container .blog-btn-prev {
  position: absolute;
  z-index: 2;
  bottom: calc(50% - 100px);
  left: -30px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  border: solid #ffffff 3px;
  background-color: #f7f7f7;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#blog .swiper-container .blog-btn-prev i {
  font-size: 20px;
  color: #575757;
}

#blog .swiper-container .blog-btn-next {
  position: absolute;
  z-index: 2;
  bottom: calc(50% - 100px);
  right: -30px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  border: solid #ffffff 3px;
  background-color: #f7f7f7;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#blog .swiper-container .blog-btn-next i {
  font-size: 20px;
  color: #575757;
}

#blog .swiper-container .blogSwiper .swiper-slide .blog-card .card-head {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  background-color: #f5f5f5;
  padding: 30px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#blog .swiper-container .blogSwiper .swiper-slide .blog-card .card-body {
  background-color: #fff;
  padding: 44px;
}

#blog .swiper-container .blogSwiper .swiper-slide .blog-card .card-body h4 {
  font-size: 16px;
  font-family: "Montserrat-Bold", sans-serif;
  text-transform: uppercase;
}

#blog .swiper-container .blogSwiper .swiper-slide .blog-card .card-body .card-body-detail {
  margin-top: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#blog .swiper-container .blogSwiper .swiper-slide .blog-card .card-body .card-body-detail a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16px;
  border: solid 1px #e8e8e8;
  padding: 12px 50px 12px 40px;
  border-radius: 8px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#blog .swiper-container .blogSwiper .swiper-slide .blog-card .card-body .card-body-detail a:hover {
  background-color: #e8e8e8;
  color: #fff;
}

#blog .swiper-container .blogSwiper .swiper-slide .blog-card .card-body .card-body-detail a:hover i {
  color: #fff;
}

#blog .swiper-container .blogSwiper .swiper-slide .blog-card .card-body .card-body-detail a i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #cbcbcb;
  position: absolute;
  right: 13px;
}

#blog .swiper-container .blogSwiper .swiper-slide .blog-card .card-body .card-body-detail .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #bcbcbc;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blog .swiper-container .blogSwiper .swiper-slide .blog-card .card-body .card-body-detail .date i {
  padding-right: 8px;
  font-size: 20px;
}

#blog .swiper-container .blogSwiper .swiper-slide .blog-card .card-body .card-body-detail .date h6 {
  color: #bcbcbc;
  font-family: "Montserrat-SemiBold";
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
}

#blog .all-btn {
  text-transform: uppercase;
  font-family: "Metropolis-Medium";
  font-size: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 74px;
  border: solid 1px #eaeaea;
  border-radius: 30px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#blog .all-btn:hover {
  background-color: #eaeaea;
}

#blog .all-btn i {
  opacity: 0.24;
  font-size: 20px;
  position: absolute;
  right: 20px;
}

/*--------------------------------------------------------------
# BlogDetail
--------------------------------------------------------------*/
#blogDetail .swiper-container {
  position: relative;
}

#blogDetail .swiper-container .blog-Detail-btn-prev {
  position: absolute;
  z-index: 2;
  bottom: calc(50% - 30px);
  left: -90px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  border: solid #ffffff 3px;
  background-color: #f7f7f7;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#blogDetail .swiper-container .blog-Detail-btn-prev i {
  font-size: 20px;
  color: #575757;
}

#blogDetail .swiper-container .blog-Detail-btn-next {
  position: absolute;
  z-index: 2;
  bottom: calc(50% - 30px);
  right: -90px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  border: solid #ffffff 3px;
  background-color: #f7f7f7;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#blogDetail .swiper-container .blog-Detail-btn-next i {
  font-size: 20px;
  color: #575757;
}

#blogDetail .swiper-container .blogDetailSwiper .swiper-pagination {
  position: relative;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#blogDetail .swiper-container .blogDetailSwiper .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  margin: 0 8px;
  background-color: #a8a8a8;
}

#blogDetail .swiper-container .blogDetailSwiper .swiper-slide .card-container {
  width: 80%;
}

#blogDetail .swiper-container .blogDetailSwiper .swiper-slide h4 {
  font-size: 36px;
  font-family: "Metropolis-Bold";
  line-height: 1.5;
  margin-bottom: 38px;
}

#blogDetail .swiper-container .blogDetailSwiper .swiper-slide p {
  font-size: 16px;
  font-family: "Metropolis-Regular";
  margin-bottom: 52px;
}

#blogDetail .swiper-container .blogDetailSwiper .swiper-slide .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 86%;
}

#blogDetail .swiper-container .blogDetailSwiper .swiper-slide .buttons a {
  font-family: "Metropolis-Medium", sans-serif;
  font-size: 18px;
  border-radius: 30px;
  border: solid 2px #efefef;
  width: 200px;
  padding: 14px 0;
  -webkit-transform: 0.3s;
          transform: 0.3s;
  text-align: center;
}

#blogDetail .swiper-container .blogDetailSwiper .swiper-slide .buttons a:hover {
  background-color: #000000;
  color: #fff;
  border-color: #000000;
}

#blogDetail .swiper-container .blogDetailSwiper .swiper-slide .buttons a.active {
  background-color: #000000;
  color: #fff;
  border-color: #000000;
}

#blogDetail .all-btn {
  text-transform: uppercase;
  font-family: "Metropolis-Medium";
  font-size: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 74px;
  border: solid 1px #eaeaea;
  border-radius: 30px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#blogDetail .all-btn:hover {
  background-color: #eaeaea;
}

#blogDetail .all-btn i {
  opacity: 0.24;
  font-size: 20px;
  position: absolute;
  right: 20px;
}

/*--------------------------------------------------------------
# faq
--------------------------------------------------------------*/
#faq {
  background-image: url(../img/faq-bg.png);
  background-position: bottom right;
  background-size: auto;
  background-repeat: no-repeat;
}

#faq h3 {
  font-size: 42px;
  text-align: center;
  font-family: "Metropolis-Regular";
}

#faq .accordion .accordion-item {
  border: none;
  background-color: #f7f7f7;
  border-radius: 12px;
  margin-bottom: 20px;
}

#faq .accordion .accordion-item .accordion-header .accordion-button {
  border-radius: 12px;
  background-color: #f7f7f7;
  border: none;
  outline: none;
  font-size: 18px;
  font-family: "Metropolis-Regular";
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #000000 !important;
}

#faq .accordion .accordion-item .accordion-header .accordion-button.collapsed::after {
  content: "";
  width: 12px;
  height: 2px;
  background: #000000;
  position: absolute;
  right: 40px;
}

#faq .accordion .accordion-item .accordion-header .accordion-button.collapsed::before {
  content: "";
  width: 12px;
  height: 2px;
  right: 40px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: #000000;
  position: absolute;
}

#faq .accordion .accordion-item .accordion-header .accordion-button::after {
  content: "";
  width: 12px;
  height: 2px;
  background: #000000;
  position: absolute;
  right: 40px;
}

#faq .accordion .accordion-item .accordion-header .accordion-button::before {
  content: "";
  width: 12px;
  height: 2px;
  right: 40px;
  background: #000000;
  position: absolute;
}

#faq .accordion .accordion-item .accordion-collapse.show {
  color: #000000;
}

#faq .accordion .accordion-item .accordion-collapse .accordion-body {
  padding-left: 40px;
  padding-bottom: 40px;
  color: rgba(33, 37, 41, 0.5);
}

/*--------------------------------------------------------------
# BiziSecenler
--------------------------------------------------------------*/
#biziSecenler {
  background-color: #fafafa;
}

#biziSecenler h1 {
  font-size: 154px;
  font-family: "Metropolis-Medium";
  text-align: center;
}

#biziSecenler h3 {
  text-align: center;
  font-size: 48px;
  font-family: "Metropolis-Medium";
  margin-bottom: 42px;
}

#biziSecenler .imgs-container {
  width: 90%;
  margin: auto;
}

#biziSecenler .imgs-container img {
  margin: 44px;
}

/*--------------------------------------------------------------
# teklif Side 
--------------------------------------------------------------*/
#teklif {
  padding-top: 100px;
  background-image: url(../img/hero-bg.png);
  background-position: 0px 150px;
  background-repeat: no-repeat;
  background-size: cover;
}

#teklif h3 {
  font-family: "Metropolis-Medium";
  font-size: 42px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#teklif p {
  font-size: 18px;
  font-family: "Metropolis-Regular";
  margin-bottom: 30px;
}

#teklif form input,
#teklif form textarea {
  width: 100%;
  margin-bottom: 14px;
  border-radius: 14px;
  border: none;
  background-color: #f8f8f8;
  padding: 16px 20px;
  font-size: 16px;
  font-family: "Metropolis-Regular";
  color: #171717;
}

#teklif form input::-webkit-input-placeholder,
#teklif form textarea::-webkit-input-placeholder {
  color: rgba(23, 23, 23, 0.377);
}

#teklif form input:-ms-input-placeholder,
#teklif form textarea:-ms-input-placeholder {
  color: rgba(23, 23, 23, 0.377);
}

#teklif form input::-ms-input-placeholder,
#teklif form textarea::-ms-input-placeholder {
  color: rgba(23, 23, 23, 0.377);
}

#teklif form input::placeholder,
#teklif form textarea::placeholder {
  color: rgba(23, 23, 23, 0.377);
}

#teklif form input:focus,
#teklif form textarea:focus {
  outline: none;
}

#teklif form select {
  width: 100%;
  margin-bottom: 14px;
  border-radius: 14px;
  border: none;
  background-color: #f8f8f8;
  padding: 16px 20px;
  font-size: 16px;
  font-family: "Metropolis-Regular";
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 10px), calc(100% - 15px) calc(1em + 10px);
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #171717;
}

#teklif form select::-webkit-input-placeholder {
  color: rgba(23, 23, 23, 0.377);
}

#teklif form select:-ms-input-placeholder {
  color: rgba(23, 23, 23, 0.377);
}

#teklif form select::-ms-input-placeholder {
  color: rgba(23, 23, 23, 0.377);
}

#teklif form select::placeholder {
  color: rgba(23, 23, 23, 0.377);
}

#teklif form select:focus {
  outline: none;
}

#teklif form .teklif-btn {
  border-radius: 12px;
  display: block;
  background-color: #000000;
  color: #fff;
  font-family: "Metropolis-Medium", sans-serif;
  padding: 12px 0;
  text-align: center;
  position: relative;
}

#teklif form .teklif-btn img {
  position: absolute;
  top: calc(50% - 16px);
  right: 15px;
}

/*--------------------------------------------------------------
# Footer Side
--------------------------------------------------------------*/
#footer {
  background-color: #fafafa;
  padding-top: 86px;
}

#footer img {
  padding-bottom: 20px;
}

#footer h5 {
  font-size: 18px;
  font-family: "Metropolis-Medium";
}

#footer .mail {
  margin-top: 84px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  #footer .mail {
    margin-top: 30px;
  }
}

#footer .social-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

#footer .social-medias a {
  color: #000000;
  font-size: 20px;
}

#footer .social-medias a + a {
  margin-left: 30px;
}

#footer .link-title {
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  #footer .link-title {
    margin-bottom: 20px;
  }
}

#footer ol li {
  margin-bottom: 28px;
}

@media (max-width: 768px) {
  #footer ol li {
    margin-bottom: 10px;
  }
}

#footer ol li a {
  font-size: 18px;
  font-family: "Metropolis-Regular";
}

#footer ol li a:hover {
  color: #000000a9;
}

#footer .author {
  background-color: #f7f7f7;
  margin-top: 80px;
}

#footer .author p {
  padding: 34px 0;
  text-align: center;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */