/*--------------------------------------------------------------
# Fonts Variables
--------------------------------------------------------------*/
@font-face {
  font-family: "Metropolis-Regular";
  src: url(../fonts/Metropolis-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Metropolis-Medium";
  src: url(../fonts/Metropolis-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Metropolis-SemiBold";
  src: url(../fonts/Metropolis-SemiBold.otf) format("opentype");
}

@font-face {
  font-family: "Metropolis-Bold";
  src: url(../fonts/Metropolis-Bold.otf) format("opentype");
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
  overflow-x: hidden;
}

body {
  font-family: "Metropolis-Regular", sans-serif;
  color: #000000;
  line-height: 1.5;
}

a {
  color: #000000;
  text-decoration: none !important;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

a:hover {
  color: #000;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

section {
  padding: 60px 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  top: 0;
  z-index: 99;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 1px 7px;
          box-shadow: rgba(0, 0, 0, 0) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 1px 7px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .logo {
  position: absolute;
  left: 40px;
}

#header nav .navbar li {
  margin: 0 4px;
}

#header nav .navbar li a {
  text-transform: uppercase;
  font-family: "Metropolis-Medium", sans-serif;
  font-size: 16px;
  padding: 16px 24px;
  border-radius: 10px;
  display: block;
  color: #4b4b4b;
}

#header nav .navbar li a.active {
  background-color: #ebebeb;
  color: #000000;
  font-family: "Metropolis-SemiBold", sans-serif;
}

#header nav .navbar li a:hover {
  background-color: #ebebeb;
}

#header .search {
  background-color: #f8f8f8;
  border-radius: 24px;
  width: 240px;
  padding: 10px 0 10px 16px;
}

#header .search i {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

#header .search input {
  background: none;
  outline: none;
  border: none;
  color: rgba(0, 0, 0, 0.26);
  font-family: "Metropolis-Medium", sans-serif;
}

#header .search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.26);
}

#header .search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.26);
}

#header .search input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.26);
}

#header .search input::placeholder {
  color: rgba(0, 0, 0, 0.26);
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero {
  background-image: url(../img/hero-bg.png);
  height: 100vh;
  background-size: cover;
  margin-top: 120px;
  padding-top: 140px;
}

#hero h1 {
  font-family: "Metropolis-Regular", sans-serif;
  font-size: 68px;
  margin-bottom: 44px;
}

#hero h3 {
  font-size: 32px;
  opacity: 0.5;
  margin-bottom: 68px;
}

#hero a {
  display: block;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  padding: 16px 0;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: "Metropolis-Bold", sans-serif;
}

#hero a:hover {
  opacity: 0.8;
}

#hero .heroSwiper .swiper-pagination {
  position: relative;
  margin-top: 50px;
}

#hero .heroSwiper .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  margin: 0 8px;
  background-color: #a8a8a8;
}

/*--------------------------------------------------------------
# client
--------------------------------------------------------------*/
#whatWeDo {
  padding-top: 250px;
  background-color: #fafafa;
}

#whatWeDo h3 {
  font-family: "Metropolis-Medium";
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#whatWeDo ol {
  margin-bottom: 30px;
}

#whatWeDo ol li {
  cursor: pointer;
  text-transform: uppercase;
  padding: 12px 42px;
  border-radius: 10px;
  border: #eaeaea 2px solid;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: none;
}

#whatWeDo ol li:hover {
  background-color: #000000;
  color: #fff;
  border-color: #000000;
}

#whatWeDo ol li.active {
  background-color: #000000;
  color: #fff;
  border-color: #000000;
}

#whatWeDo .swiper-container {
  position: relative;
}

#whatWeDo .swiper-container .what-btn-prev {
  position: absolute;
  z-index: 2;
  bottom: calc(50% - 40px);
  left: -30px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  border: solid #ffffff 2px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

#whatWeDo .swiper-container .what-btn-prev i {
  font-size: 20px;
  color: #fff;
}

#whatWeDo .swiper-container .what-btn-next {
  position: absolute;
  z-index: 2;
  bottom: calc(50% - 40px);
  right: -30px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  border: solid #ffffff 2px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

#whatWeDo .swiper-container .what-btn-next i {
  font-size: 20px;
  color: #fff;
}

#whatWeDo .whatWeDoSwiper .swiper-slide.remove {
  display: none;
}

#whatWeDo .whatWeDoSwiper .swiper-slide .img-body {
  position: relative;
}

#whatWeDo .whatWeDoSwiper .swiper-slide .img-body:hover .img-content {
  opacity: 1;
  bottom: 10px;
}

#whatWeDo .whatWeDoSwiper .swiper-slide .img-body .img-content {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  z-index: 5;
  left: 20px;
  right: 20px;
  bottom: -100px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

#whatWeDo .whatWeDoSwiper .swiper-slide .img-body .img-content h4 {
  font-size: 24px;
  font-family: "Metropolis-Bold", sans-serif;
  color: #fff;
  z-index: 2;
  margin-bottom: 14px;
  text-transform: uppercase;
}

#whatWeDo .whatWeDoSwiper .swiper-slide .img-body .img-content h5 {
  font-size: 18px;
  font-family: "Metropolis-Bold", sans-serif;
  color: #fff;
  z-index: 2;
  margin: 0;
  text-transform: uppercase;
}

#whatWeDo .btn-container {
  margin-top: 70px;
}

#whatWeDo .btn-container .all-product-btn {
  font-family: "Metropolis-Medium";
  border-radius: 30px;
  border: solid #eaeaea 1px;
  padding: 16px 0px 16px 40px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

#whatWeDo .btn-container .all-product-btn:hover {
  background-color: #000000;
  color: #fff;
}

#whatWeDo .btn-container .all-product-btn:hover i {
  color: #fff;
}

#whatWeDo .btn-container .all-product-btn i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: rgba(0, 0, 0, 0.24);
  font-size: 22px;
  padding: 0 20px 0 20px;
}

/*--------------------------------------------------------------
# What Else We Do Side
--------------------------------------------------------------*/
#WhatElseWeDoSide h3 {
  font-family: "Metropolis-Medium";
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#WhatElseWeDoSide .swiper-container {
  position: relative;
}

#WhatElseWeDoSide .swiper-container .what-else-btn-prev {
  position: absolute;
  z-index: 2;
  bottom: calc(50% - 40px);
  left: -20px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  border: solid #ffffff 3px;
  background-color: #f7f7f7;
}

#WhatElseWeDoSide .swiper-container .what-else-btn-prev i {
  font-size: 20px;
  color: #575757;
}

#WhatElseWeDoSide .swiper-container .what-else-btn-next {
  position: absolute;
  z-index: 2;
  bottom: calc(50% - 40px);
  right: -20px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  border: solid #ffffff 3px;
  background-color: #f7f7f7;
}

#WhatElseWeDoSide .swiper-container .what-else-btn-next i {
  font-size: 20px;
  color: #575757;
}

#WhatElseWeDoSide .swiper-container .whatElseWeDoSwiper {
  padding: 14px;
}

#WhatElseWeDoSide .swiper-container .whatElseWeDoSwiper .swiper-slide .what-card {
  border-radius: 20px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 256px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#WhatElseWeDoSide .swiper-container .whatElseWeDoSwiper .swiper-slide .what-card h4 {
  font-size: 22px;
  font-family: "Metropolis-Medium", sans-serif;
  text-transform: uppercase;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

/*--------------------------------------------------------------
# Blog Side
--------------------------------------------------------------*/
#blog h3 {
  font-family: "Metropolis-Medium";
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# call option 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Team Side 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Faq Two Side
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Contact Side 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# newsletter Side 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer Side
--------------------------------------------------------------*/
/*# sourceMappingURL=style.css.map */